@using System.Security.Claims;
@using EmployeeManagementSystem.Controllers;
@inject IJobRepository JobRepo
@inject IEmployeeRepository EmpRepo
@{
    var UserId = User.Claims.FirstOrDefault(e => e.Type == ClaimTypes.NameIdentifier).Value;
    Employee Emp = EmpRepo.GetAll().FirstOrDefault(e => e.Id == UserId);
    var UserEmail = Emp.Email;
    var UserFirstName = Emp.FirstName;
    var UserLastName =  Emp.LastName;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/AdminDash.css">
    <link rel="stylesheet" href="~/css/AddTask.css">
    @RenderSection("CSS",false)
    <link href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" rel="stylesheet">
</head>
<body>
    <input type="checkbox" name="" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <div class="brand-flex">
                <h3>TeamSynch</h3>

                <div class="brand-icons">
                    <span class="las la-bell"></span>
                    <span class="las la-user-circle"></span>
                </div>
            </div>
        </div>

        <div class="sidebar-main">
            <div class="sidebar-user">
                <img src="@Url.Action("GetImage" , "AdminDashboard" , new {id = UserId})" alt="">
                <div>
                    <h3>@UserFirstName @UserLastName</h3>
                    <spam>@UserEmail</spam>
                </div>
            </div>

            <div class="sidebar-menu">
                <div class="menu-head">
                    <span> Dashboard </span>
                </div>
                <ul>
                    <li>
                        <a asp-action="GetTopTasks" asp-controller="AdminDashboard">
                            <span class="las la-check-circle"></span>
                            Tasks
                        </a>
                    </li>

                    <li>
                        <a asp-action="GetTopEmployees" asp-controller="AdminDashboard">
                            <span class="las la-users"></span>
                            Employees
                        </a>
                    </li>

                </ul>


                <div class="menu-head">
                    <span> Applications </span>
                </div>
                <ul>
                    <li class="dropdown">
                        <span class="las la-exclamation-circle"></span>
                        Request
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="AddVacation" asp-controller="Request">Vacation</a></li>
                            @if (RequestController.EmpAtt.IsStarted && !RequestController.EmpAtt.IsEnded)
                            {
                                <li><a asp-action="EndWork" asp-controller="Request">End Work</a></li>

                            }
                            else if (!RequestController.EmpAtt.IsEnded && !RequestController.EmpAtt.IsStarted)
                            {
                                <li><a asp-action="StartWork" asp-controller="Request">Start Work</a></li>
                                <li><a asp-action="EndWork" asp-controller="Request">End Work</a></li>

                            }
                            <li><a asp-action="DisplayAttendance" asp-controller="Request">Attendance</a></li>
                        </ul>
                    </li>
                  
                    <li>
                        <a asp-action="Contacts" asp-controller="AdminDashboard">
                            <span class="las la-users"></span>
                            contacts
                        </a>
                    </li>
                    <li>
                        <a asp-action="GetTopReports" asp-controller="AdminDashboard">
                            <span class="las la-file-alt"></span>
                            Reports
                        </a>
                    </li>
                  
                    <li>
                        <a asp-action="Logout" asp-controller="Account">
                            <span class="las la-sign-out-alt" style="color: azure;"> </span>
                            Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="menu-toggle">
                <label for="sidebar-toggle">
                    <span class="las la-bars"></span>
                </label>
            </div>

            <div class="header-icons">
                <span class="las la-search"></span>
                <span class="las la-bookmark"></span>
                <span class="las la-sms"></span>
            </div>
        </header>

        <main class="main">
            <div class="page-header">
                <div>
                    <h1> Admin Dashboard</h1>
                    <small>Monitor Key Metrics. Check reporting and review insights</small>
                </div>
                <div class="header-actions">
                    @RenderSection("AddButtons",false)
                </div>
            </div>

            <div class="cards">

                @RenderSection("Cards",false)
            </div>

            <div class="jobs-grid" >
                @RenderSection("Chart" , false)
                <div class="jobs">
                @RenderBody()    
                </div>
             </div>




        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="/js/AddTask.js"></script>
    @RenderSection("JS" , false)
</body>
</html>
