@inject IJobRepository JobRepo
@inject IEmployeeRepository EmpRepo
@model Job
@{
    Layout = "_AdminDashboardLayout";
    SelectList emps = new SelectList(EmpRepo.GetAll(), "Id", "UserName");
}
@section Cards{
    <Partial name="_TaskCardPartial"></Partial>
}
@section Chart{
    <Partial name="_TaskChartPartial"></Partial>
}
<h3>Tasks <small> <a asp-action="GetTopTasks" asp-controller="AdminDashboard">Minimize tasks</a> <span class="las la-arrow-right"></span></small></h3>
<table width="100%">
    <tbody>
        <tr>
            <td>
                <div>
                    <span class="indicator"></span>
                </div>
            </td>
            <td><div>Employee Name</div></td>
            <td><div>Position</div></td>
            <td><div style="padding-left: 2rem;">Task</div></td>
            <td><div>Due Date</div></td>
            <td><div><button asp-action="AddTask" asp-controller="AdminDashboard" id="openForm" style="padding: .7rem;">Add Task</button></div> </td>
            <div id="formModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h3>Add a Task</h3>
                    <form asp-action="AddTask" asp-controller="AdminDashboard" method="post">

                        <label asp-for="TaskName">Task Name:</label>
                        <input asp-for="TaskName" type="text" id="taskName" placeholder="Enter the task name" required>
                        <span style="color:red" asp-validation-for="TaskName"></span>


                        <label asp-for="TaskDescription">Task Description:</label>
                        <textarea asp-for="TaskDescription" id="taskDescription" placeholder="Enter the task description" rows="4" required></textarea>
                        <span style="color:red" asp-validation-for="TaskDescription"></span>

                        <label for="deadline">Deadline:</label>
                        <input asp-for="DeadLine" type="date" id="deadline" value="@Model.DeadLine.ToString("MM-dd-yyyy")" required>
                        <span style="color:red" asp-validation-for="DeadLine"></span>

                        <label for="assignEmployee">Assign to Employee:</label>
                        <select asp-for="EmployeeId" asp-items="emps">
                            <option value="0" disabled selected>Select an employee</option>
                        </select>
                        <span style="color:red" asp-validation-for="EmployeeId"></span>


                        <button type="submit">Add Task</button>
                    </form>
                </div>
            </div>
        </tr>

        @foreach (var item in JobRepo.GetAll().OrderBy(e => e.Employee.FirstName))
        {
            <tr>
                <td>
                    <div>
                        <span class="indicator even"></span>
                    </div>
                </td>
                <td><div>@item.Employee.UserName</div></td>
                @if (item.Employee.Position is null)
                {
                    
                    <td><div>Not Registered</div></td>
                }
                else
                {
                    <td><div>@item.Employee.Position.PositionName</div></td>
                }
                <td><div>@item.TaskName</div></td>
                <td><div>@item.DeadLine.ToString("yyyy/MM/dd")</div></td>
                @if (item.Done)
                {
                    <td><div><button>Completed</button></div> </td>
                }
                else
                {
                    <td><div><button>Waitable.....</button></div> </td>
                }
            </tr>
        }
    </tbody>
</table>